<div class="recipe-create">
  <h2>Créer une nouvelle Recette</h2>
  <form [formGroup]="form" (ngSubmit)="saveRecipe()">
    <mat-form-field class="full-width">
      <mat-label>Nom de la Recette</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ingrédients (séparés par des virgules)</mat-label>
      <input matInput formControlName="ingredients" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Instructions</mat-label>
      <textarea matInput formControlName="instructions" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Créer la Recette</button>
  </form>
</div>
