<div class="header">
  <h2>Mes Recettes</h2>
</div>
<div class="search-bar">
  <mat-form-field class='search-form-field'>
    <input class='search-input' matInput placeholder="Rechercher des recettes" [(ngModel)]="searchText">
  </mat-form-field>
</div>
<div class="recipe-list" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <ng-container *ngFor="let recipe of filteredRecipes">
    <div class="recipe-card">
      <div class="card-header-container">
        <h4 class="card-title">{{ recipe.name }}</h4>
          <button mat-icon-button color="warn" (click)="confirmDelete(recipe)">
            <mat-icon>delete</mat-icon>
          </button>
      </div>
      <a class="card-link" [routerLink]="['/recipe', recipe.id]">
        <mat-card-content>
          <p class="description">{{ recipe.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="last-updated">
            <span>Dernière mise à jour : {{ recipe.updatedAt | date: 'short' }}</span>
          </div>
        </mat-card-actions>
      </a>
    </div>
  </ng-container>
</div>
