.recipe-detail {
  background-color: #E8CC81;
  color: #333;
  padding: 20px;
}

.recipe-info {
  background-color: #FFF;
  border: 1px solid #E8CC81;
  padding: 20px;
  border-radius: 5px;
}

.recipe-info h3 {
  color: #E75A44;
}

.recipe-info ul {
  list-style: none;
  padding-left: 0;
}

.recipe-info li {
  margin-bottom: 5px;
}
