<div class="recipe-detail">
  <h2>Détails de la Recette</h2>
  <div class="recipe-info">
    <h3>{{ recipe?.name }}</h3>
    <p>
      <b>Description :</b>
      {{ recipe?.description }}
    </p>
    <p><b>Ingrédients :</b></p>
    <ul>
      <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient }}</li>
    </ul>
    <p><b>Instructions :</b></p>
    <p>{{ recipe?.instructions }}</p>
    <p>
      <b>Créée le : </b>
      {{ createdAt }}
    </p>
    <p>
      <b>Dernière modification le :</b>
      {{ updatedAt }}
    </p>
  </div>

  <button mat-raised-button class="edit-button" color="primary" (click)="editRecipe()">Modifier la Recette</button>
</div>

