.recipe-detail {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  .recipe-info {
    background-color: white;
    padding: 20px;
    border: 2px solid #3f51b5;
    border-radius: 5px;
    text-align: left;

    & h3 {
      color: #3f51b5;
      font-size: 20px;
    }

    & p {
      color: #333;

      & ul {
        list-style-type: disc;
        padding-left: 20px;
      }

      & li {
        color: #333;
      }
    }
  }
}

.edit-button {
  margin: 20px;
}
